body{
  background-color: #ADD8E6;/*light blue*/
}
.fa{
	color: #dcdbd4;

}
#div1{
  margin-left: 300px;
}

#div2{
  margin-left: 100px;
}

#div4{
  margin-left: 300px;
}
#div5{
  margin-left: 100px;
}
#div6{
  margin-left: 400px;
}