@charset "utf-8";


@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Playfair+Display:400,400i,700,700i');

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	line-height: 1.86666666;
	font-weight: 400;
	color: #4a4f59;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: #d9d9d9;
	color: #ffffff;
}
p::selection
{

}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	margin-bottom: 0;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection
{

}
img
{
	max-width: 100%;
}
button:active
{
	outline: none;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.background_image > img{
	height: 500px;
	width: 500px;
}

.nopadding
{
	padding: 0px !important;
}

.slide
{
	height: 100%;
}
.button
{
	width: 186px;
	height: 65px;
	background: #ff9000;
	text-align: center;
	border: solid 2px #ff9000;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button:hover
{
	background: transparent;
}
.button a
{
	display: block;
	height: 100%;
	width: 100%;
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.075em;
	line-height: 61px;
}
.button:hover a
{
	color: #ff9000;
}
.section_title h1
{
	position: relative;
	font-size: 36px;
	font-weight: 400;
	color: #150f24;
	z-index: 1;
	margin-top: -20px;
}
.section_title > div
{
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 136px;
	font-weight: 700;
	color: #aaabaf;
	line-height: 0.75;
	z-index: 0;
}
.bienvenue{
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 50px;
	font-weight: 300;
	color: rgba(255,165,0,0.5);
	line-height: 0.75;
	z-index: 0;}
.bienvenue> i{
	font-size: 25px;
}
.container_wrapper > .container
{
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.container_wrapper > .container > .row
{
	margin-left: 0;
	margin-right: 0;
}
.container_wrapper > .container > .row > div[class^='col']
{
	padding-left: 0;
	padding-right: 0;
}

.header
{
	position: absolute;
	left: 0;
	background: rgba(255,255,255,0.4);
	z-index: 101;
	position: fixed;
	width: 100%;
}
.header_content
{
	background-color:rgba(192,192,192,0.1);
	width: 100%;
	height: 289px;
}
.navbar{
	color: black;
	background-color: rgb(249, 231, 159);
}
.main_nav ul
{
	height: 68px;
}
.main_nav ul li:not(:last-of-type)
{
	margin-right: 57px;
}
.main_nav ul li a
{
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
}
.main_nav ul li a:hover,
.main_nav ul li.active a
{
	color: #ff9000;
}

.header_right
{
	position: absolute;
	bottom: 0;
	right: 0;
	height: 55px;
}
.header_link
{
	height: 55px;
	background: #ff9000;
}
.header_link a
{
	display: block;
	height: 100%;
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	padding-left: 37px;
	padding-right: 36px;
	line-height: 55px;
}
.humburger
{
	display: none;
	cursor: pointer;
	padding: 5px;
}

.hamburger i
{
	font-size: 24px;
	color: #ffffff;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(14,9,35,0.9);
	visibility: hidden;
	opacity: 0;
	z-index: 100;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.menu.active
{
	visibility: visible;
	opacity: 1;
}
.menu_container
{
	width: 100%;
	height: 100%;
}
.menu_nav ul li a
{
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	color: #ffffff;
	font-weight: 400;
	letter-spacing: 0.035em;
}
.menu_nav ul li a:hover
{
	color: #ff9000;
}
.menu_button
{
	margin-top: 60px;
}

.home
{
	height: 500px;
	margin: 200px;
	background-size: cover;
}

.home_container
{
	width: 100%;
	height: 100%;
	padding-top: 192px;
}
.home_title h1
{
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	color: #ffffff;
	font-style: italic;
	font-size: 72px;
}
.home_text
{
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	padding-left: 25px;
	padding-right: 25px;
	max-width: 820px;
	margin-top: 5px;
	line-height: 2;
}
.home_button
{
	margin-top: 32px;
}

.custom-select
{
	position: relative;
	height: 65px;
	padding: 0px;
	background: none;
	border: none;
	border-radius: 0px;
}
.custom-select select
{
	display: none;
}
.select-selected
{
	width: 100%;
	height: 100%;
	background-color: #f4f5fa;
	line-height: 65px;
	font-size: 14px;
	font-weight: 400;
	color: #4a4f59 !important;
}
.select-selected:after
{
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
	right: 20px;
	font-family: 'FontAwesome';
	content: '\f107';
}
.select-selected.select-arrow-active:after
{

}
.select-items div,.select-selected
{
	padding: 0px;
	padding-left: 24px;
	cursor: pointer;
}
.select-items
{
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	padding-top: 7px;
	padding-bottom: 7px;
	background: #f4f5fa;
}
.select-items div
{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #4a4f59 !important;
}
.select-items div:not(:last-of-type)
{
	border-bottom: solid 1px rgba(255,255,255,1);
}
.select-hide
{
	display: none;
}
.select-items div:hover, .same-as-selected
{
	background-color: rgba(0, 0, 0, 0.1);
}

.intro
{
	background: #ffffff;
	padding-top: 110px;
	padding-bottom: 110px;

}
.intro_row
{
	margin-top: 49px;
}
.gallery_row
{
	margin-top: 89px;
}
.gallery_slider .slide
{
	height: 532px;
}
.gallery_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(31,25,43,0.78);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}


.rooms_image
{
	height: 100%;
}
.rooms_right_content
{
	padding-top: 94px;
	padding-left: 130px;
	padding-bottom: 110px;
	padding-right: 130px;
	background: rgb(249, 231, 159);
	height: 600px;
}
.rooms_right_content .section_title > div
{
	color: #ffffff;
}
.rooms_right_content .section_title h1
{
	margin-top: -30px;
}
.rooms_text
{
	margin-top: 30px;
}
.rooms_list
{
	margin-top: 36px;
}
.rooms_list ul li:not(:last-of-type)
{
	margin-bottom: 14px;
}
.rooms_list ul li img
{
	margin-right: 22px;
}
.rooms_list ul li span
{
	font-size: 15px;
	font-weight: 400;
	color: #4a4f59;
}
.rooms_price
{
	margin-top: 33px;
	font-size: 36px;
	font-weight: 700;
	color: #ff9000;
}
.rooms_price span
{
	font-size: 18px;
	font-weight: 700;
	color: #4a4f59;
	margin-left: 5px;
}
.rooms_button
{
	margin-top: 41px;
}
.rooms_left_content
{
	background: #f4f5fa;
	padding-left: 163px;
	padding-top: 81px;
	padding-right: 100px;
	padding-bottom: 110px;
	height: 600px;
}
.rooms_left_content .section_title h1
{
	color: #ffffff;
	margin-top: -31px;
}
.rooms_left_content .section_title div
{
	color: #3a3744;
}
.rooms_left_content .rooms_text p
{
	color: #5f646c;
}
.rooms_left_content .rooms_list ul li span
{
	color: #bfc8d8;
}
.rooms_left_content .rooms_price span
{
	color: #bfc8d8;
}
.rooms_slider_container
{
	height: 100%;
}
.rooms_right .owl-dots
{
	position: absolute;
	right: 40px;
	bottom: 31px;
}
.rooms_left .owl-dots
{
	position: absolute;
	left: 40px;
	bottom: 31px;
}
.rooms_slider .owl-dots .owl-dot
{
	outline: none;
}
.rooms_slider .owl-dots .owl-dot span
{
	width: 10px;
	height: 10px;
	background: #f4f5fa;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.rooms_slider .owl-dots .owl-dot.active span
{
	background: #ff9000;
}


.discover
{
	background: #ffffff;
	padding-top: 123px;
}
.discover_content
{
	width: 100%;
}
.discover_highlight
{
	margin-top: 34px;
}
.discover_highlight p
{
	font-size: 18px;
	font-weight: 700;
	font-style: italic;
	color: #4a4f59;
	line-height: 2;
}
.discover_button
{
	margin-top: 40px;
}
.discover_text
{
	margin-top: 36px;
}
.discover_slider_container
{
	width: 100%;
	height: 436px;
	margin-top: 110px;
}
.discover_overlay
{
	width: 100%;
	height: 100%;
	background: transparent;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.discover_overlay > h1 a
{
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	font-style: italic;
	font-weight: 700;
	color: #ffffff;
}
.discover_overlay:hover
{
	background: rgba(23,17,38,0.78);
}
.discover_overlay > h1 a:hover
{
	color: #ff9000;
}

/*********************************
10. Testimonials
*********************************/

.testimonials
{
	background: #ffffff;
	padding-top: 128px;
	padding-bottom: 98px;
}
.testimonials_row
{
	margin-top: 50px;
}
.testimonial_text
{
	padding-left: 36px;
	padding-right: 36px;
}
.testimonial_text p
{
	font-size: 18px;
	font-weight: 400;
	color: #4a4f59;
	font-style: italic;
	line-height: 2;
}
.testimonial_author
{
	margin-top: 43px;
}
.testimonial_author_image
{
	width: 74px;
	height: 74px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
.testimonial_author_name
{
	margin-top: 37px;
}
.testimonial_author_name a
{
	font-size: 18px;
	font-style: italic;
	color: #4a4f59;
	font-weight: 400;
}
.testimonial_author_name span
{
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
	color: #ff9000;
}
.testimonial_author_name a:hover
{
	color: #ff9000;
}
.testimonials_slider .owl-dots
{
	margin-top: 37px !important;
}
.testimonials_slider .owl-dots .owl-dot
{
	outline: none;
}
.testimonials_slider .owl-dots .owl-dot span
{
	background: #f4f5fa;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.testimonials_slider .owl-dots .owl-dot.active span
{
	background: #ff9000;
}

/*********************************
11. Footer
*********************************/

.footer
{
	background-color: #f4f5fa;
	background-size: cover;
	display: block;
	position: relative;
	padding-top: 59px;
	border-top: solid 1px #ff9000;
	height: 500px;
}
.footer_content
{
	margin-top: 67px;
}
.footer_col:first-child .footer_info > div
{
	padding-right: 20px;
}
.footer_col:nth-child(3) .footer_info > div
{
	padding-left: 20px;
}
.footer_info div
{
	font-size: 15px;
	color: black;
	font-weight: 400;
	line-height: 1.8;
}
.footer_bar
{
	height: 48px;
	line-height: 48px;
	font-size: 15px;
	font-weight: 400;
	color: rgba(255,255,255,0.7);
}

.tilt {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-bottom: 20px;
}
/*survole de l'image flooté*/
.tilt img:hover {
  filter: translate(0);
  -webkit-filter: translate(0);
}
/*léger zoom sur l'image*/
.tilt:hover {
 -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform:scale(1.1);
  -ms-transform:scale(1.1);
  transform: scale(1.1);
  transform: scale(1.1);
}

/*effet de flootage de l'image en utilisant la fonction Blur*/
.tilt img{
  filter: translate(2px);
  -webkit-filter: translate(2px);
	width: 100%;
  height: 320px;
  overflow: hidden;
  border: solid 3px white;
}
.carousel-item> img{
	width: 100%;
	height: 600px;
}
.overlay-image {
 position: relative;
 width: 100%;
 margin-bottom: 20px;
}
/* Image originale */
.overlay-image .image {
 display: block;
 width: 100%;
 height: 320px;
}
/* Texte original */
.overlay-image .text {
 color: #fff;
 font-size: 30px;
font-family: 'lato', serif;
line-height: 1.5em;
 text-shadow: 2px 2px 2px #000;
 text-align: center;
 position: absolute;
 top: 40%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 50%;
}
.overlay-image .hover {
 background-color: rgba(0,0,0,0.5);
}
/********* Hover image et texte *******/
/* Overlay */
.overlay-image .hover {
 position: absolute;
 top: 0;
 height: 100%;
 width: 100%;
 opacity: 0;
 transition: .5s ease;
}
/* Apparition overlay sur passage souris */
.overlay-image:hover .hover {
 opacity: 1;
}

/*page about.html cards*/

.im2{
	overflow: hidden;
}
.im2 img{
	transition: all 1.5s ease;
	height: 20em;
}
.im2:hover img{
	transform: scale(1.5);
}

.im{
	overflow: hidden;
	height: 15em;
}
.im img{
	transition: all 1.5s ease;
	width: 100px;
	height: 100px;
	margin: 100px;
}
.im:hover img{
	transform: scale(1.5);
}
/*animation du menu au scroll de la page */

nav.shrink {
  transition: all ease .5s;
  background-color: rgba(255,255,255,0.1);
}
nav.shrink .header_link{
  transition: all ease .5s;
  background-color: blue;
}
/*banner de la page about.html*/
.home h2{
	color: white;
	padding-top: 400px;
	background-color: rgba(0,0,0,0.3);
}

.equi{
	height: 400px;
	margin-bottom: 40px;
	background-color: rgba(255,1,255,0.1)
}

.equi img{
	width: 100px;
	padding: 20px;
}
.header1{
	background-color: rgb(69, 179, 157);
}
.monlogo{
	margin-left: 10px;
	margin-right: 40px;
	padding: 50px;
}
.monlogo>img{
	width: 100px;
	height: 100px;
}
.espace{
	margin-top: 300px;
}
